<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luospace.schrodingerscat.dao.ExperimentMapper" >
    <select id="select" parameterType="Map" resultType="com.luospace.schrodingerscat.entity.Experiment"  >
        SELECT *
        FROM experiment
        <where>
            <if test="status != null">
                status = '#{status}'
            </if>
            <if test="ip != null">
                ip = '#{ip}'
            </if>
        </where>
    </select>
    <insert id="insert" parameterType="com.luospace.schrodingerscat.entity.Experiment" useGeneratedKeys="true" keyProperty="id">
        insert into experiment (status,ip,created_at) values (#{status},#{ip},#{createdAt})
    </insert>
</mapper>
